body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  background: linear-gradient(70deg, rgb(225, 242, 254) -2.8%, rgb(193, 224, 250) 44.6%, rgb(19, 116, 197) 102.4%);
  color: #000;
}

.app {
  text-align: center;
  line-height: 3;
}

.app-title {
  font-size: 2.6rem;
  /* margin-bottom: 20px; */
}

.file-input {
  /* margin-bottom: 20px; */
  margin-bottom: 0px;
}

.predict-button {
  padding: 10px 20px;
  background-color: rgb(124, 49, 245);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-shadow: 0 0 10px rgb(124, 49, 245), 0 0 20px rgb(124, 49, 245), 0 0 30px rgb(124, 49, 245);
}

.prediction {
  font-size: 28px;
  margin-top: 20px;
  color: rgb(34, 0, 255);
  font-weight: bold;

}

span{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: large;
  font-weight: bolder;
  color: red;
}

p{
  font-size: large;
}

img{
  height: 150px;
  width: 150px;
}